

/* sign Up and Login */
.signUp{
  height:max-content;
  margin-top: 10px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.signUp > form{
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #550987;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 280px;
  width: 320px;
}
.signUp > p{
  background-color: #9303f3;
  margin: -8px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  width: 320px;
  height: 30px;
  padding: 10px;
  color: #fff;
}

.signUp p:last-child{
  background-color: #550987;
  font-size: 16px;
  font-weight: normal;
}
.signUp >form >input,
.pwd-cont > input {
  height: 30px;
  width: 90%;
  font-size: 14px;
  font-weight: bold;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 3px;
  padding-left: 6px;
}
.signUp > p .to-login{
  color: #fff;
  margin-left: 4px;
}
.signUp > p .to-login:hover{
  transform: scale(1.065);
  color: #bcbcff;
  transition: all 0.2s ease-in-out;
}

.pwd-cont{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pwd-cont small{
  position: absolute;
  top: 0;
  height: 32px;
  font-size: 20px;
  font-weight: bold;
  width: 30px;
  cursor: pointer;
  right: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUp form button{
  background-color: #fff;
  font-weight: bold;
  font-style: 14px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  width: 50%;
  height: 30px;
}
.signUp form button:hover{
  transform: scale(1.065);
  transition: all 0.25s ease-in-out;
}
 
.signUp .img{
  height: 34px;
  width: 34px;
  border-radius: 12px;
  margin-right: 5px;
}

.signUp .upload{
  background-color: transparent;
  margin-bottom: 16px;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 6px;
  flex-direction: column;
  border-radius: 50%;
}
label{
  font-size: bold;
  cursor: pointer;
  position: relative;
}
label h5{
  position: absolute;
  top: -34px;
  margin-bottom: 10px;
  font-size: 18px;
  right: -30px;
}
.signUp .upload-icon{
  font-size: 26px;
  cursor: pointer;
}
label input{
  visibility: hidden;
  height: 10px;
  margin-bottom: 8px;
  width: 10px;
}
.profile{
  box-shadow: 0 0 6px 3px #9303f3;
  height: 84px;
  width: 84px;
  border-radius: 50%;
}
