

/* sign Up and Login */
.signUp{
  height:max-content;
  margin-top: 10px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.signUp > form{
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #550987;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 280px;
  width: 320px;
}
.signUp > p{
  background-color: #9303f3;
  margin: -8px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  width: 320px;
  height: 30px;
  padding: 10px;
  color: #fff;
}

.signUp p:last-child{
  background-color: #550987;
  font-size: 16px;
  font-weight: normal;
}
.signUp >form >input,
.pwd-cont > input {
  height: 30px;
  width: 90%;
  font-size: 14px;
  font-weight: bold;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 3px;
  padding-left: 6px;
}
.signUp > p .to-login{
  color: #fff;
  margin-left: 4px;
}
.signUp > p .to-login:hover{
  transform: scale(1.065);
  color: #bcbcff;
  transition: all 0.2s ease-in-out;
}

.pwd-cont{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pwd-cont small{
  position: absolute;
  top: 0;
  height: 32px;
  font-size: 20px;
  font-weight: bold;
  width: 30px;
  cursor: pointer;
  right: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUp form button{
  background-color: #fff;
  font-weight: bold;
  font-style: 14px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  width: 50%;
  height: 30px;
}
.signUp form button:hover{
  transform: scale(1.065);
  transition: all 0.25s ease-in-out;
}
 
.signUp .img{
  height: 34px;
  width: 34px;
  border-radius: 12px;
  margin-right: 5px;
}

.signUp .upload{
  background-color: transparent;
  margin-bottom: 16px;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 6px;
  flex-direction: column;
  border-radius: 50%;
}
label{
  font-size: bold;
  cursor: pointer;
  position: relative;
}
label h5{
  position: absolute;
  top: -34px;
  margin-bottom: 10px;
  font-size: 18px;
  right: -30px;
}
.signUp .upload-icon{
  font-size: 26px;
  cursor: pointer;
}
label input{
  visibility: hidden;
  height: 10px;
  margin-bottom: 8px;
  width: 10px;
}
.profile{
  box-shadow: 0 0 6px 3px #9303f3;
  height: 84px;
  width: 84px;
  border-radius: 50%;
}


/* New Items page */
.New{
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: max-content;
}
.New-images{
  background-color: #e6e6e6;
  height: 280px;
  display: flex;
  position:relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.New-images >input{
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.New-images h4{
  position: absolute;
  left: 150px;
  top: 150px;
  font-size: 14px;
}
input[type=file]::-webkit-file-upload-button{
  display: none;
}
.New >form{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #fff;
  border-radius: 4px;
  height: max-content;
  width: 400px;
  padding: 10px;
  gap: 30px;
}
.New >form >select{
  width: 100%;
  height: 34px;
  cursor: pointer;
  outline: none;
  border:  none;
  font-size: 16px;
  color: #550987;
  font-weight: bold;
  background-color: #e6e6e6;
}
.New .New-input{
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  height: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.New form .input{
  height: 30px;
  outline: none;
  border: none;
  width: 100%;
  background-color: #e6e6e6;
}
.New form textarea{
  width: 100%;
  outline: none;
  color: #550987;
  border: none;
  background-color:#e6e6e6 ;
}
.New >form >select >option{
  font-weight: bold;
  font-size: 15px;
}
.New-upload {
  font-size: 36px;
}
.New button{
  background-color: #550987;
  border: none;
  width: 40%;
  height: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}
.New button:hover{
  transform: scale(1.065);
  transition: all 0.25s ease-in-out;
}
.newImg{
  width: 290px;
  height: 280px;
  z-index: 2;
}


/* Product details styling */

  .more-details{
    display: flex;
    align-items: center;
    color: #ffff;
    height: max-content;
    padding: 30px 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .more-details-cont{
    background-color: #550987;
    display: flex;
    border-radius: 6px;
    align-items: center;
    padding: 16px 80px;
    text-transform: capitalize;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    height: max-content;
    width: max-content;
  }
  .more-img{
    border-radius: 6px;
    padding: 10px;
  }
 
.more-details .button button{
  background-color: #fff;
  color: #550987;
}
.more-details .button button:hover{
  color: #ffff;
}

.card-title{
  margin-bottom: 30px;
}


/* The cart */

 .Cart >h2{
  color: #550987;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .Cart-Items{
  background-color: #550987;
  padding: 20px 5px 10px 5px;
  width: 80%;
  margin: auto;
  border-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
 }





  /* footer */
  .footer{
    margin-top: 50px;
    padding: 20px 20px 0 20px;
    display: flex;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    gap: 30px;
    background-color: #550987;
    color: #fff;
  }
  .newsletter{
    background-color: #7d16c1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 18px;
    flex-wrap: wrap;
    padding: 10px;
  }
  .news-details p > span{
    color: #ffb327;
    font-weight: bold;
  }
  .newsletter form{
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .newsletter form >input[type=email]{
    max-width: 350px;
    width: 90%;
    height: 36px;
    outline: none;
    border: none;
    padding-left: 5px;
  }
  .newsletter form >button{
    height: 36px;
    width: max-content;
    background-color: #ffb327;
    font-weight: bold;
    white-space: nowrap;
    color: #fff;
    border: none;
  }
 .footer-about{
  padding: 10px;
  display: flex;
  column-gap: 10px;
  row-gap: 30px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
 }
 .about,.account{
  display: flex;
  flex-direction: column;
 }
 .footer-links{
  text-decoration: none;
  color: #fff;
  transition: all ease-in-out 0.2s;
 }
 .footer-links:hover{
  color: #ffb327;
  text-decoration: underline;
 }
.social-media{
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.copyright {
  display: flex;
  height: 40px;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.copyright p{
  margin-top: 20px;
}


/* media query */
@media screen and (max-width:785px) {
  .more-details-cont{
    gap: 30px;
    padding: 20px;
  }
  .more-details{
    padding: 30px 50px ;
  }
}