
header{
  height: 50px;
  display: flex;
  z-index: 5;
  filter: brightness(0.9);
  position: sticky;
  background-image: url(../images/texture3.avif);
  top: 0;
  left: 0;
  right: 0;
  color: #550987;
  align-items: center;
  background-color: rgba(0,0,0,0.1);
  justify-content: space-between;
  font-weight: bold;
  box-shadow: 0 0 10px 3px #00000080;
  padding: 6px 16px;
}
.logo{
  font-size: 36px;
  margin-right: 6px;
}
.contents{
  display: flex;
  font-size: 22px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: max-content;
}
.contents >small{
  font-size: 12px;
}
.link{
  text-decoration: none;
  display: flex;
  color: #550987;
}
.list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  gap: 20px;
  height: 40px;
}
.tray{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  gap: 30px;
}

.cart{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.N-items{
  position: absolute;
  top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -3px;
  font-size: 12px;
  color: #fff;
  background-color: #550987;
  height: 18px;
  width: 18px;
  border-radius: 50%;
}
.Lcart{
  font-size: 30px;
  cursor: pointer;
}


.menu{
  position: absolute;
  right: -16px;
  top: 45px;
  color: #fff;
  height: 80px;
  width: max-content;
  background-color: #550987;
  display: flex;
  flex-direction: column;
  padding: 6px 10px;
  align-items: center;
  justify-content: space-evenly;
}
.menu a{
  color: #fff;
  text-decoration: none;
}
.menu >button{
  height: 30px;
  width: max-content;
  background-color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}
.menu button a{
  color: #550987;
  font-weight: bold;
  font-size: 14px;
}
.menu button:hover,
.Lcart:hover{
  transform: scale(1.065);
  transition: all 0.25s ease-in-out;
}

.profile-img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow:0 0 5px 3px #550987;
  cursor: pointer;
}
.profile-img:hover{
  transform: scale(1.065);
  transition: all 0.25s ease-in-out;
}

.carousel{
  padding: 20px 30px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  width: 94%;
  height: max-content;
  justify-content: center;
}
.caption >h3,
.caption >p{
  color: #fff;
}

.caption{
  background-color: rgba(0,0,0,0.7);
  border-radius: 4px;
  backdrop-filter: blur(5px);
}

.carousel img{
  display: block;
  width: 100%;
  height: 60vh;
}
.carousel-item{
  padding: 20px;
  background-color: rgba(0,0,0,0.1);
}

.sell{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  color: #550987;
  justify-content: space-evenly;
}

.humberger{
  font-size: 30px;
  font-weight: bold;
  display: none;
  cursor: pointer;
}
.imMenu{
  transition: all ease-in-out 0.25s;
}
.imMenu:hover{
  transform: scale(1.075);
}
.li-menu{
  position: fixed;
  font-size: 18px;
  top: 0;
  margin-top: -100%;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 40px;
  cursor: default;
  flex-direction: column;
  justify-content: center;
  right: 0;
  padding: 30px 20px;
  transition: all 0.5s ease-in-out;
  height: max-content;
  background-color: #550987;
  
}
.li-menu .li{
 color: #550987;
 background-color: #fff;
 width: 60%;
 height: 34px;
 text-decoration: none;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 3px;
 transition: all 0.25s ease-in-out;
}
.li-menu .li:hover{
  transform: scale(1.065);
  background-color: #fa6a36;
  color: #fff;
}
.close-menu{
  color: #fff;
  position: absolute;
  top: 14px;
  font-size: 30px;
  cursor: pointer;
  right: 14px;
  transition: all 0.25s ease-in-out;
}
.close-menu:hover{
  color: #00ff00;
}
  

/* media query */
@media screen and (max-width:765px) {
  .list{
  display: none;
 }
 .tray{
  gap: 40px;
 }
 .humberger{
  display: contents;
 }
}