body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #490079;
  background-image: url(./images/texture3.avif);
  scroll-behavior: smooth;
  overflow-x: hidden;
}





